.new__stick {
  color: #C1C1EE; }

.container {
  width: 80%;
  max-width: 1670px;
  margin: auto; }

*, *:before, *:after {
  box-sizing: border-box; }

*, *:before, *:after *:active *:focus *:hover {
  outline: 0;
  outline-offset: 0; }

html {
  font-size: 14px; }

body {
  font-family: 'Pfagora Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1rem; }

img {
  max-width: 100%;
  height: auto; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  transition: 0.5s; }
  a:hover {
    color: #000055; }

@font-face {
  font-family: 'Pfagora Sans Pro';
  src: url("../font/PFAGORASANSPRO-REG.woff2") format("woff2"), url("../font/PFAGORASANSPRO-REG.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Pfagora Sans Pro';
  src: url("../font/PFAGORASANSPRO-BOLD.woff2") format("woff2"), url("../font/PFAGORASANSPRO-BOLD.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Pfagora Sans Pro';
  src: url("../font/PFAGORASANSPRO-LIGHT.woff2") format("woff2"), url("../font/PFAGORASANSPRO-LIGHT.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Pfagora Sans Pro';
  src: url("../font/PFAGORASANSPRO-MEDIUM.woff2") format("woff2"), url("../font/PFAGORASANSPRO-MEDIUM.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Pfagora Sans Pro';
  src: url("../font/PFAGORASANSPRO-THIN.woff2") format("woff2"), url("../font/PFAGORASANSPRO-THIN.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Pfagora Sans Pro';
  src: url("../font/PFAGORASANSPRO-BLACK.woff2") format("woff2"), url("../font/PFAGORASANSPRO-BLACK.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
========================================================================== */
/**
* 1. Correct the line height in all browsers.
* 2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
    ========================================================================== */
/**
* Remove the margin in all browsers.
*/
body {
  margin: 0; }

/**
* Render the `main` element consistently in IE.
*/
main {
  display: block; }

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
    ========================================================================== */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
    ========================================================================== */
/**
* Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent; }

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder; }

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%; }

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
    ========================================================================== */
/**
* Remove the border on images inside links in IE 10.
*/
img {
  border-style: none; }

/* Forms
    ========================================================================== */
/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible; }

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none; }

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
* Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline; }

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto; }

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
    ========================================================================== */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block; }

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item; }

/* Misc
    ========================================================================== */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none; }

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none; }

.header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  padding: 25px 0;
  background: #fff;
  z-index: 99; }
  .header__interface {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header__interface--left, .header__interface--right {
      display: flex;
      align-items: center; }
  .header__search--box {
    position: relative;
    width: 30px;
    height: 30px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .header__search--box-active {
      width: 350px;
      height: 40px; }
  .header__search--input {
    height: 100%;
    width: 100%;
    padding: 0 60px 0 20px;
    font-size: 16px;
    background: #DADEE1;
    border-radius: 50px;
    outline: none;
    border: none;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .header__search--input-active {
      opacity: 1; }
  .header__search--btn {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    border-radius: 50px;
    color: #000;
    background: transparent;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .header__search--btn-active {
      position: absolute;
      top: 50%;
      right: 0px;
      width: 40px;
      height: 40px;
      color: #fff;
      font-size: 18px;
      background: #000055;
      line-height: 40px;
      border-radius: 50px;
      transform: translateY(-50%) rotate(360deg); }
  .header__search--cancel {
    position: absolute;
    top: 50%;
    right: -40px;
    display: none;
    font-size: 20px;
    transform: translateY(-50%);
    cursor: pointer; }
  .header__social {
    display: flex;
    align-items: center;
    margin-right: 30px; }
    .header__social--item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      margin-left: 15px;
      font-size: 18px;
      border-radius: 5px;
      color: #000055;
      background: #DADEE1; }
      .header__social--item:hover {
        background: #000055;
        color: #fff; }
  .header__subscription {
    display: flex;
    align-items: center;
    cursor: pointer; }
    .header__subscription--image, .header__subscription--text {
      display: block; }
    .header__subscription--text {
      margin-right: 20px;
      font-weight: 500;
      font-size: 18px;
      color: #000; }
    .header__subscription--image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      margin-left: -1px;
      border-radius: 50px;
      border: 1px solid #DADEE1; }

.language__version {
  margin-right: 30px; }
  .language__version--item {
    font-weight: 700;
    font-size: 18px;
    color: #DADEE1; }
    .language__version--item-active {
      color: #000055; }

.logo__link {
  display: block; }

.logo__svg {
  fill: #000055; }

.subscription__svg {
  width: 18px;
  height: 18px;
  fill: #000; }

.menu {
  margin-top: 25px;
  border-top: 2px solid #DADEE1;
  border-bottom: 2px solid #DADEE1; }

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .nav__item {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    padding: 15px 0;
    text-transform: uppercase;
    color: #000;
    transition: .2s ease; }
    .nav__item:hover {
      color: #000055; }
    .nav__item::after {
      content: '';
      position: absolute;
      left: 50%;
      width: 0%;
      height: 2px;
      display: block;
      margin-top: 54px;
      -webkit-transition: width 0.3s ease-in-out;
      -moz-transition: width .3s ease-in-out;
      transition: width .3s ease-in-out;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: traanslateX(-50%);
      background: #000055; }
    .nav__item--block {
      position: relative; }
      .nav__item--block:not(:first-of-type):not(:last-of-type) .nav__item--submenu {
        left: -50%;
        border-radius: 0 0 3px 3px; }
      .nav__item--block:first-of-type .nav__item--submenu {
        left: 0;
        border-radius: 0 0 3px 0; }
      .nav__item--block:last-of-type .nav__item--submenu {
        right: 0;
        border-radius: 0 0 0 3px; }
      .nav__item--block:hover .nav__item--submenu {
        display: block; }
    .nav__item--submenu {
      position: absolute;
      margin-top: -1px;
      margin-left: -3px;
      display: none;
      overflow: hidden;
      background: #fff;
      min-width: 200%;
      padding: 10px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      z-index: 5; }
      .nav__item--submenu-2 {
        display: none;
        margin-left: 20px;
        transition: .3s ease; }
        .nav__item--submenu-2--active {
          display: block !important;
          transition: .3s ease; }

.fa-sort-up {
  margin-bottom: 5px;
  margin-left: 10px;
  transform: rotate(180deg); }

.nav__item:hover:after,
.nav__item:focus:after {
  width: 100%; }

.submenu__item {
  display: block;
  padding: 10px 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222223; }
  .submenu__item--select {
    display: flex;
    align-items: center; }
  .submenu__item--2 {
    display: block;
    padding: 5px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #222223; }

.fa-sort-down {
  margin: 0 0 5px 5px; }

.menu__mobile--btn {
  display: none; }

.mob__lg--version {
  display: none; }

.hero {
  position: relative; }

.article__grid--item {
  position: relative;
  color: #fff; }
  .article__grid--item-1 {
    max-width: 440px;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden; }
  .article__grid--item-2 {
    max-width: 240px;
    border-radius: 10px;
    overflow: hidden; }

.article__grid--thumb {
  position: relative;
  border-radius: 10px;
  z-index: -1;
  -webkit-filter: brightness(60%); }

.article__grid--permalink {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  z-index: 3; }

.article__grid--title {
  margin-top: auto;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px; }

.article__grid--excerpt {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px; }

.article__grid--info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px; }

.category__name {
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase; }

.author {
  display: flex;
  align-items: center; }
  .author__name {
    margin-left: 10px; }

.view {
  margin-left: auto;
  margin-right: 15px; }

@media screen and (max-width: 1576px) {
  .header__search--box-active {
    width: 290px; }
  .header__search--cancel {
    right: -25px; } }

@media screen and (max-width: 1375px) {
  .nav {
    justify-content: space-between; }
    .nav__item {
      font-size: 16px; } }

@media screen and (max-width: 1170px) {
  .nav__item {
    font-size: 14px; } }

@media screen and (max-width: 1100px) {
  .logo__svg {
    width: 300px !important; } }

@media screen and (max-width: 1070px) {
  .header__social {
    margin-right: 20px; }
    .header__social--item {
      margin-left: 10px; } }

@media screen and (max-width: 991px) {
  .header__social {
    display: none; }
  .logo__svg {
    width: 280px !important; }
  .nav__item {
    font-size: 12px; } }

@media screen and (max-width: 875px) {
  .header__search {
    display: none; }
  .menu {
    display: none; }
    .menu__mobile--btn {
      display: block;
      font-size: 18px;
      margin-right: 10px; } }

@media screen and (max-width: 761px) {
  .language__version--item {
    font-size: 16px; }
  .header__subscription--text {
    margin-right: 15px;
    font-size: 16px; } }

@media screen and (max-width: 720px) {
  .header__subscription {
    display: none; }
  .language__version {
    display: none; }
  .mob__lg--version {
    display: block; } }

@media screen and (max-width: 575px) {
  .logo__svg {
    width: 200px !important; } }

@media screen and (max-width: 445px) {
  .logo__svg {
    width: 150px !important; } }

@media screen and (max-width: 375px) {
  .logo__svg {
    width: 130px !important; } }

@media screen and (max-width: 355px) {
  .language__version--item {
    font-size: 12px; } }
