@media screen and ( max-width: 1920px )
    .content
        &__wrapper
            &--right
                display: block
@media screen and ( max-width: 1670px )
    .article
        &__container
            grid-template-columns: repeat(auto-fill, minmax(230px, 1fr))
    .sidebar
        &__news
            &--page
                max-height: 455px
    .archive
        &__article
            &--wrap
                grid-template-columns: repeat(auto-fill, minmax(230px, 1fr))
                gap: 30px
                max-width: 950px
    .tag
        padding: 8px 5px
        font-size: 10px
    .article
        &__grid
            grid-gap: 15px
            max-width: 640px
            &--item
                &-1
                    max-width: 420px
                &-2
                    max-width: 210px
                &-default
                    max-width: 200px
                    .article
                        &__grid
                            &--title
                                font-size: 18px
                    .article
                        &__grid
                            &--excerpt
                                font-size: 12px
@media screen and (max-width: 1576px)
    .header
        &__search
            &--box
                &-active
                    width: 290px
            &--cancel
                right: -25px
    .footer
        &__menu
            flex-wrap: wrap
    .archive
        &__btn
            &--text
                font-size: 16px
    .website
        &__info
            &--title
                font-size: 18px
            &--desc
                font-size: 14px
    .block
        &__magazine
            &--button
                &-btn 
                    font-size: 14px
@media screen and ( max-width: 1550px )
    .article
        &__grid
            max-width: 600px
@media screen and ( max-width: 1520px )
    .article
        &__container
            grid-template-columns: repeat(auto-fill, minmax(220px, 1fr))
            max-width: 800px
    .sidebar__news--page
        margin-top: 28px
    .archive
        &__btn
            padding: 10px 15px 
    .sidebar
        &__front
            &--page
                width: 250px
    .website
        padding: 10px 10px
@media screen and (max-width: 1476px)
    .detail
        &__grid
            &--container
                max-width: 800px
@media screen and (max-width: 1450px)
    .article
        &__container
            max-width: 900px
    .sidebar
        &__news
            &--page
                margin-top: 7px
    .archive
        &__article
            &--wrap
                gap: 20px
                max-width: 800px
    .sidebar
        &__archive
            &--page
                width: 250px
            &--block
                width: 250px
    .detail
        &__grid
            &--container
                max-width: 750px
    .footer
        &__contacts
            margin-top: 20px
@media screen and (max-width: 1420px)
    .article
        &__grid
            &--item
                &-1
                    max-width: 390px
                    padding: 15px
    .article
        &__grid
            max-width: 595px
    .sidebar
        &__front
            &--page
                min-height: 435px
    .block
        &__magazine
            margin: 0 10px
            min-height: 435px
@media screen and (max-width: 1376px)
    .article
        &__grid
            max-width: 585px
    .article
        &__grid
            grid-gap: 10px
    .block
        &__magazine
            min-height: 430px
    .sidebar
        &__front
            &--page
                min-height: 430px
@media screen and (max-width: 1375px)
    .nav
        justify-content: space-between
        &__item
            font-size: 16px
    .copyright
        &__text
            font-size: 14px
    .material
        &__block
            &--link
                font-size: 14px
    .cookies
        &__block
            &--text
                font-size: 14px
    .contacts
        &__form
            margin-top: 30px
@media screen and (max-width: 1360px)
    .article
        &__grid
            display: none
            &--pl
                display: grid
                grid-gap: 15px
    .block
        &__magazine
            min-height: 420px
    .sidebar
        &__front
            &--page
                min-height: 420px
@media screen and (max-width: 1246px)
    .content
        &__wrapper
            &--right
                display: none
    .article
        &__container
            grid-template-columns: repeat(auto-fill, minmax(265px, 1fr))
            max-width: 100%
    .archive
        &__container
            display: block
            max-width: 100%
        &__article
            &--container
                max-width: 100%
            &--wrap
                max-width: 100%
                margin-right: 0
            &--card
                max-width: 260px
    .sidebar
        &__detail
            &--page
                display: none
    .sidebar__archive--page
        display: none
    #map
        margin-top: 30px
    .footer
        &__address
            margin-top: 20px
        &__link
            flex-wrap: wrap
@media screen and (max-width: 1170px)
    .main
        &__grid
            flex-wrap: wrap
    .nav
        &__item
            font-size: 14px
@media screen and (max-width: 1148px)
    .sidebar
        &__front
            &--page
                margin-top: 20px
@media screen and (max-width: 1100px)
    .logo
        &__svg
            width: 300px !important
@media screen and (max-width: 1070px)
    .header
        &__social
            margin-right: 20px
            &--item
                margin-left: 10px
@media screen and (max-width:991px)
    .header
        &__social
            display: none
    .logo
        &__svg
            width: 280px !important
    .nav
        &__item
            font-size: 12px
@media screen and (max-width: 915px)
    .footer
        &__menu
            &--list
                margin-top: 20px
@media screen and (max-width:875px)
    .header
        &__search
            display: none
    .menu
        display: none
        &__mobile
            &--btn
                display: block
                font-size: 18px
                margin-right: 10px
    .mobile
        &__menu
            display: none
@media screen and (max-width: 835px)
    .block
        &__magazine
            margin-top: 20px
    .main
        &__grid
            justify-content: space-around
@media screen and (max-width:761px)
    .language
        &__version
            &--item
                font-size: 16px
    .header
        &__subscription
            &--text
                margin-right: 15px
                font-size: 16px
    #map
        width: 500px
        height: 300px
@media screen and (max-width:720px)
    .header
        &__subscription
            display: none
    .language
        &__version
            display: none
    .mob
        &__lg
            &--version
                display: block
    .language
        &__version
            margin-right: 0
@media screen and (max-width: 645px)
    .card
        width: 200px
        padding: 11px
    #map
        width: 400px
    .contacts
        &__wrap
            flex-direction: column
            align-items: center
        &__map
            margin-right: 0
        &__text
            margin-right: 0
@media screen and (max-width:630px)
    .archive
        &__btn
            display: none !important
            &--mb
                display: flex !important
                margin-bottom: 30px
    .block
        &__magazine
            height: 340px
            min-height: 340px
    .sidebar
        &__front
            &--page
                min-height: 470px
@media screen and (max-width:575px)
    .logo
        &__svg
            width: 200px !important
    .swiper-container
        max-width: 475px
    .article--swiper-mb
        max-width: 420px !important
    .partners
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
    .card
        margin: auto
    .form
        &__input
            width: 100%
            max-width: 420px
        &__policy
            margin-top: 30px
            max-width: 100%
        &__interface
            &--group
                flex-direction: column
                align-items: center
                justify-content: center
    .article
        &__grid
            &--mb
                display: grid
    .footer
        &__menu
            //flex-direction: column
            justify-content: center
            align-items: center
            &--list
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
        &__address
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            &--text
                text-align: center
        &__contacts
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
        &__link
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
    .copyright
        &__text
            text-align: center
            display: flex
    #map
        width: 290px
    .material
        &__block
            &--link
                display: block
                text-align: center
                &::after
                    display: none
    .article
        &__grid
            &--pl
                display: none
    .detail
        &__block
            &--social
                display: none
        &__post
            &--comment
                &-info
                    flex-direction: column
                    align-items: center
        &__comment
            &--date
                display: block
                margin-top: 20px
        &__content
            &--title
                font-size: 35px
                line-height: 50px
        &__grid
            &--container
                margin-right: 0px
                max-width: 420px
    .you
        &__maylike
            &--article
                &--card
                    flex-direction: column
                &--content
                    margin-right: 15px
                    margin-top: 15px
@media screen and (max-width:525px)
    .article
        &--swiper
            &-mb
                max-width: 375px !important
@media screen and (max-width:460px)
    .article
        &--swiper
            &-mb
                max-width: 325px !important
@media screen and (max-width:445px)
    .logo
        &__svg
            width: 150px !important
    .detail
        &__grid
            &--container
                margin-right: 0px
                max-width: 320px
@media screen and (max-width: 420px)
    .you
        &__maylike
            &--article
                display: none
    .detail
        &__wrap
            &--content
                display: block
        &__block
            &--content
                display: block
                max-width: 320px
        &__page
            &--block
                display: block
        &__popular
            &--tag
                display: none
    .article
        &--swiper
            &-mb
                max-width: 295px !important
@media screen and (max-width:375px)
    .logo
        &__svg
            width: 130px !important
    .article
        &--swiper
            &-mb
                max-width: 260px !important
@media screen and (max-width:355px)
    .language
        &__version
            &--item
                font-size: 12px
    #map
        width: 260px