.detail
    position: relative
    padding-bottom: 25px
    &__page
        &--block
            display: flex
            justify-content: space-between
            align-items: flex-start
    &__tag
        &--name
            max-width: 150px
            margin-bottom: 35px
            padding: 8px 43px
            border-radius: 10px
            background: $primary
            color: $white
            &-text
                font-weight: bold
                font-size: 16px
                line-height: 19px
    &__wrap
        &--content
            max-width: 1240px
    &__content
        &--title
            display: block
            max-width: 1045px
            margin-bottom: 35px
            font-weight: bold
            font-size: 55px
            line-height: 66px
        &--desc
            display: block
            max-width: 1110px
            margin-bottom: 35px
            font-weight: normal
            font-size: 18px
            line-height: 22px
            color: rgba(0, 0, 0, 0.65)
    &__date
        display: block
        margin-top: 2px
    &__grid
        &--info
            margin-bottom: 35px
            .author
                display: flex
                align-items: center
    &__page
        &--image
            margin-bottom: 35px
        &--text
            font-weight: 400
            font-size: 18px
            line-height: 30px
            color: $dtext
        &--h1
            font-weight: bold
            font-size: 35px
            line-height: 30px
            color: $dark
    &__block
        &--social
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: center
            width: 130px
            height: 300px
            padding: 20px 0
            border-radius: 10px
            background: $primary
            color: $white
        &--content
            max-width: 1045px
    &__social
        &--linedin,
        &--fb,
        &--inst,
        &--teleg
            font-size: 22px
            cursor: pointer
            &:hover
                color: $white
        &--linedin,
        &--fb,
        &--inst
            margin-bottom: 40px
    &__popular
        &--tag
            display: block
            margin: 35px 0
            font-weight: 400
            font-size: 18px
            line-height: 30px
    &__coment
        &--name
            display: block
            font-weight: 400
            font-size: 18px
            line-height: 30px
        &--status
            display: block
            font-style: italic
            font-weight: 500
            font-size: 12px
            line-height: 30px
            color: #4B5157
        &--text
            &-title
                display: block
                max-width: 540px
                margin-left: 20px
                font-weight: 500
                font-size: 18px
                line-height: 25px
                color: #4B5157
        &--date
            display: block
            font-style: italic
            font-weight: 500
            font-size: 14px
            line-height: 30px
            color: #4B5157
    &__post
        &--comment
            border-top: 2px solid $primary
            border-bottom: 2px solid $primary
            &-info
                display: flex
                align-items: flex-start
                margin: 35px 0
    &__ad
        margin: 35px 0
.d
    &_p
        &_t
            margin-left: 20px
.comments
    &__form
        &--title
            display: block
            margin-bottom: 20px
            font-weight: bold
            font-size: 20px
            line-height: 25px
            color: $dark