.header
    position: sticky
    left: 0
    top: 0
    width: 100%
    padding: 25px 0
    background: $white
    z-index: 99
    &__interface
        display: flex
        align-items: center
        justify-content: space-between
        &--left,
        &--right
            display: flex
            align-items: center
    &__search
        &--box
            position: relative
            width: 30px
            height: 30px
            transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55)
            &-active
                width: 350px
                height: 40px
        &--input
            height: 100%
            width: 100%
            padding: 0 60px 0 20px
            font-size: 16px
            background: $secondary
            border-radius: 50px
            outline: none
            border: none
            opacity: 0
            transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55)
            &-active
                opacity: 1
        &--btn
            position: absolute
            top: 50%
            right: 0px
            width: 30px
            height: 30px
            font-size: 20px
            text-align: center
            line-height: 30px
            border-radius: 50px
            color: $dark
            background: transparent
            transform: translateY(-50%)
            cursor: pointer
            transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55)
            &-active
                position: absolute
                top: 50%
                right: 0px
                width: 40px
                height: 40px
                color: $white
                font-size: 18px
                background: $primary
                line-height: 40px
                border-radius: 50px
                transform: translateY(-50%) rotate(360deg)
        &--cancel
            position: absolute
            top: 50%
            right: -40px
            display: none
            font-size: 20px
            transform: translateY(-50%)
            cursor: pointer
    &__social
        display: flex
        align-items: center
        margin-right: 30px
        &--item
            display: flex
            align-items: center
            justify-content: center
            width: 30px
            height: 30px
            margin-left: 15px
            font-size: 18px
            border-radius: 5px
            color: $primary
            background: $secondary
            &:hover
                background: $primary
                color: $white
    &__subscription
        display: flex
        align-items: center
        cursor: pointer
        &--image,
        &--text
            display: block
        &--text
            margin-right: 20px
            font-weight: 500
            font-size: 18px
            color: $dark
        &--image
            display: flex
            align-items: center
            justify-content: center
            width: 30px
            height: 30px
            margin-left: -1px
            border-radius: 50px
            border: 1px solid $secondary
.language
    &__version
        margin-right: 30px
        &--item
            font-weight: 700
            font-size: 18px
            color: $secondary
            &-active
                color: $primary
.logo
    &__link
        display: block
    &__svg
        fill: $primary
.subscription
    &__svg
        width: 18px
        height: 18px
        fill: $dark
.menu
    margin-top: 25px
    border-top: 2px solid $secondary
    border-bottom: 2px solid $secondary
    
.nav
    display: flex
    justify-content: space-around
    align-items: center
    &__item
        position: relative
        display: flex
        align-items: center
        font-weight: bold
        font-size: 18px
        line-height: 22px
        padding: 15px 0
        text-transform: uppercase
        color: $dark
        transition: .2s ease
        &:hover
            color: $primary
        &::after
            content: ''
            position: absolute
            left: 50%
            width: 0%
            height: 2px
            display: block
            margin-top: 54px
            -webkit-transition: width.3s ease-in-out
            -moz-transition: width .3s ease-in-out
            transition: width .3s ease-in-out
            -webkit-transform: translateX(-50%)
            -moz-transform: translateX(-50%)
            transform: traanslateX(-50%)
            background: $primary
        &--block
            position: relative
            &:not(:first-of-type):not(:last-of-type) .nav__item--submenu
                left: -50%
                border-radius: 0 0 3px 3px
            &:first-of-type .nav__item--submenu
                left: 0
                border-radius: 0 0 3px 0
            &:last-of-type .nav__item--submenu
                right: 0
                border-radius: 0 0 0 3px
            &:hover .nav__item--submenu
                display: block
        &--submenu
            position: absolute
            margin-top: -1px
            margin-left: -3px
            display: none
            overflow: hidden
            background: $white
            min-width: 200%
            padding: 10px
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0,0,0, 0.23)
            z-index: 5
            &-2
                display: none
                margin-left: 20px
                transition: .3s ease
                &--active
                    display: block !important
                    transition: .3s ease
.fa-sort-up
    margin-bottom: 5px
    margin-left: 10px
    transform: rotate(180deg)
.nav__item:hover:after,
.nav__item:focus:after
    width: 100%
.submenu
    &__item
        display: block
        padding: 10px 0
        font-weight: bold
        font-size: 16px
        line-height: 20px
        text-transform: uppercase
        color: $subcolor
        &--select
            display: flex
            align-items: center
        &--2
            display: block
            padding: 5px 0
            font-weight: 500
            font-size: 14px
            line-height: 20px
            color: $subcolor
.fa
    &-sort
        &-down
            margin: 0 0 6px 5px
.menu
    &__mobile
        &--btn
            display: none
.mob
    &__lg
        &--version
            display: none
